git
software-properties-common
python3.9
python3-venv
python3-distutils
python3.9-distutils
python3-pip
python3-pytest
python3-opengl
python3-dev
python3.9-dev
python3-setuptools
build-essential
nodejs
dirmngr
apt-transport-https
lsb-release
ca-certificates
python3-distutils-extra
