setuptools~=70.0.0
wheel===0.44.0
gymnasium==0.29.1
numpy==1.23.0
boolean.py==4.0
networkx==3.2.1
pyyaml~=6.0
matplotlib~=3.6.0
plotly~=5.15.0
tabulate~=0.8.7
progressbar2==4.4.2
decorator==4.3
zipp==3.19.1
ipython==8.18.1
pandas==2.2.2
