# resolve incompatibility with pytest
attrs==19.2.0

# for vscode intellisense
jedi
pandas
jupyter>=1.0.0

# training
torch==1.13.1
stable-baselines3==1.6.0

# linter and formatter
flake8
pep8-naming
autopep8

pytest~=6.2.5

jupytext~=1.6.0
ipykernel==6.6.1
psutil==5.7.2

asciichart
asciichartpy

papermill==2.3.3
